.navbar{
    background-color: var(--main-dark-color);           
}    
        #bitmoji-navbar{
            width: 75px;
        }
    .collapsing > *{
        display: none;
    }
    .collapse{
        display: flex;
        justify-content: end;
        padding-right: 30px;   
        transition: 0.5s;     
    }
    .show{
        padding-right: 0px;
        transition: 0.5s;
    }        
        .nav-item, #active-nav-item, .nav-item:focus{        
            margin-right: 10px;
            margin-left: 10px;
            color: var(--main-accent-color);
            font-family: var(--techy-font-regular);
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            text-decoration: underline;        
            transition: 0.5s;
        }
            .nav-item:hover{
                transition: 0.5s;
                transform: scale(1.1);
                color: var(--secondary-accent-color);
            }
        #active-nav-item{
            color: var(--secondary-accent-color);
            text-decoration: none;
        }
        .navbar-brand{
            transition: 0.5s;
        }
        .navbar-brand:hover{
            transition: 0.5s;
            transform: scale(1.3);
            transform: translateY(-10px);
        }