main{
    margin-top: 20vh;
    margin-bottom: 15vh;
}
    h1{
        font-family: var(--writing-font-bold);
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 37px;                
        color: var(--main-dark-color);
    }
        /* .wrapper{
        } */
            .contact-container{
                margin: 30px auto 30px auto;                
            }
                .contact-picture{
                    width: 300px;
                }
                .contact{                    
                    font-style: normal;
                    font-size: 25px;
                    line-height: 23px;
                }
                    .contact-label{
                        font-family: var(--writing-font-semibold);
                        font-weight: 500;
                        color: #0C2541;
                    }
                    .contact-value{
                        font-family: var(--writing-font-regular);
                        font-weight: 400;
                        color: #1F5DA3;
                    }