main{
    border: solid black;
}
    #intro-wrapper{
        border: solid grey;
    }
        #intro-paragraph{
            border: solid red;            
        }
        #button-wrapper{
            border: solid red;
        }