main{
    border: solid black;
}
    #intro-wrapper{
        border: solid grey;
    }
        #intro-paragraph{
            border: solid red;            
        }
        #button-wrapper{
            border: solid red;
        }
    
    #about-me-wrapper{
        border: solid grey;        
    }
        #my-story-wrapper{
            border: solid red;
        }
            #story-paragraph-container{
                border: solid orange;
            }
                #story-paragraph-container p{
                    border: solid yellow;
                }