/*DEFINING MAIN VARIABLES*/
:root {
    /*Colors*/
    --main-background-color: #EFFAFD;
    --secondary-background-color: #1F5DA3;    
    --main-text-color: #EFFAFD;
    --main-dark-color: #0C2541;
    --main-accent-color: #BFA181;
    --secondary-accent-color: #BB854C;    
    /*Fonts*/
    --techy-font-regular: 'IBM Plex Mono';     
    --techy-font-semibold: 'IBM Plex Mono';     
    --writing-font-regular: 'League Spartan';
    --writing-font-semibold: 'League Spartan';
    --writing-font-bold: 'League Spartan';
    
}

body{
    background-color: var(--main-background-color);
    overflow-x: hidden;
}

