@font-face{
    font-family: 'IBM Plex Mono Semibold';
    src: url('/assets/fonts/IBMPlexMono-SemiBold.ttf');
}

/*DEFINING MAIN VARIABLES*/
:root {
    --main-background-color: #EFFAFD;
    --main-text-color: #EFFAFD;
    --secondary-background-color: #1F5FA3;
    --main-dark-color: #0C2541;
    --main-accent-color: #BFA181;
    --secondary-accent-color: #BB854C;
    --techy-font-semibold: 'IBM Plex Mono Semibold';     
}

body{
    margin: 0;
    background-color: var(--main-background-color);    
}