nav{    
    background-color: var(--main-dark-color);
    width: 100vw;
    height: 10vh;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    #logo_container{
        margin: auto auto auto 5%;
        min-width: 10%;
        max-width: 20%;
        height: 100%;    
        text-align: center;
    }
        #logo{                                 
            border: solid violet;      
            background-image: url('/assets/placeholder-images/placeholderProfile.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;            
        }
    #links_container{
        margin: auto 2.5% auto auto;
        max-width: 20%;
        height: 100%;        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;        
    }
        .nav_link{
            margin: auto 10px auto 10px;
            color: var(--main-accent-color);
        }